---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: About Us </title>
	{% include head.html %} 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/parallax.js"></script>
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="about-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>About Us</h1>
					<h3>Unlocking the world's complex information</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="mission-statement-wrap">		
		<div class="mission-box">
			<h2>Mission &amp; Values at Connexta</h2>

			<em><p>Connecting a community of people and technologies. <br/>Creating innovative, high quality solutions. <br/>Contributing back those we serve. </p></em>

			<p style="margin-bottom: 0;">At Connexta, our focus is our customers; creating a suite of solutions through open collaboration that solve complex problems in any environment.</p>

		</div>	
	</section>

	<section class="value-statements-wrap parallax-window" data-parallax="scroll" data-image-src="images/about.jpg">
		<div class="value-flexbox">
			<div class="value-statement">
				<div class="square-flexbox">
					<div class="value-content">
						<h2>Innovation</h2>
						<p>Acting on creative ideas, we look to the future, adapting and evolving solutions that incorporate new technology and address future customer needs. We give back to the community through open standards and open source software. </p>
					</div>
				</div>
			</div>
		</div>

		<div class="value-flexbox">
			<div class="value-statement">
				<div class="square-flexbox">
					<div class="value-content">
						<h2>Agility</h2>
						<p>Our agility enables us to do things differently today than we have in the past. It instills change in days and weeks, not months. As a company, as teams, and as individuals, we are driven to constantly improve. We openly expose what we do, how we do it, and what we produce. </p>
					</div>
				</div>
			</div>
		</div>

		<div class="value-flexbox">
			<div class="value-statement">
				<div class="square-flexbox">
					<div class="value-content">
						<h2>Transparency</h2>
						<p>We work across the Intelligence Community to build a foundation of trust through extensive, open collaboration, and the adoption of open standards. This model permits rapid identification of technology gaps and offers successful solutions for our customers.</p>
					</div>
				</div>
			</div>
		</div>
	</section>	

	<section class="mission-statement-wrap2">
		<div class="mission-statement2">
			<h2>What We Do</h2>

			<p>Connexta delivers tools that enable information sharing between disparate systems in a manner that permits both ease of integration and modification. We provide users with data and tools from a secure, small infrastructure, removing the burden from search and retrieval across multiple systems throughout the intelligence enterprise.  </p>

			<p style="margin-bottom: 0px;">We provide users with workspaces tailored to their specific needs. From task sharing to work-flow management, Connexta solutions enable users to focus on their job rather than searching for the information needed to complete the mission.</p>
		</div>
	</section>

	<section class="our-story-wrap" data-parallax="scroll" data-image-src="images/our-story.jpg">
		<div class="our-story">
			<h2>Our Story</h2>

			<p>Connexta is a software development company headquartered in Phoenix, Arizona. We were founded with the primary purpose of solving emerging data interoperability needs in the Intelligence Community. Our long history in this community allowed us to truly hear the concerns of our customers in the Department of Defense. Their frustration became our frustration as we found the answer to their fundamental concerns in open standards and open source development. It is a model that is non-traditional in defense contracting, but we saw it as a vital requirement to national security and supporting our coalition partners. We left our traditional roles to become pioneers in a new movement: Open Source Software development for the Intelligence community.</p>

			<p>Through this movement, we have welcomed many new contributors to the effort both as customer sponsors and as Connexta developers. They all recognize that this is part of a growing ecosystem able to leverage a single contribution by one member to benefit all users. Connexta members have a presence on both the Codice Foundation Board of Directors and the Distributed Data Framework (DDF) Project Management Committee (PMC), in addition to having committers and contributors across many other open source projects.</p>

			<p>Our team is passionate about building software and committed to technical excellence and quality.</p>
		</div>
	</section>	

	{% include footer.html %} 

</div><!-- /content-wrap -->

</body>

</html>