---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Careers </title>
	{% include head.html %} 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/parallax.js"></script>
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="careers-header-wrap" data-parallax="scroll" data-image-src="images/header-careers.jpg">
		<div class="container">
			<div class="row">
				<h1>Work at Connexta</h1>
				<h3>Where Passion Meets Technology</h3>
			</div>
		</div>
	</section>


	<section class="careers-mission-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p>At Connexta, we are passionate about creating innovative software engineering solutions and contributing back to the open source community.  Working together through a collaborative and agile methodology, we strive to build software solutions for our customers that are architected to be resilient and adaptive to change.
</p>
				</div>
			</div>
		</div>
	</section>


	<section class="life-at-connexta-wrap">
		<div class="container">
			<h2>Life at Connexta</h2>
			<p class="section-description">Learn every day, make an impact in the world, and become your best.</p>

			<div class="row">
				<div class="col-md-4">
					<div class="career-img">
						<img src="images/work1.jpg">
					</div>
				</div>
				<div class="col-md-4">
					<div class="career-img">
						<img src="images/work2.jpg">
					</div>
				</div>
				<div class="col-md-4">
					<div class="career-img">
						<img src="images/work3.jpg">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 benefits">
					<h2>Benefits &amp; Perks</h2>
					<p>Thirsty? Just pop over to the kitchen and grab yourself a Coke. Hungry? Hit up the fully stocked snack cabinet. From generous paid time off, 401k with significant company matching, and excellent health insurance, all the way to catered lunches, ping pong, and team socials, Connexta has all the benefits and perks to make it an exciting place to work. </p>
				</div>

				<div class="col-md-6 benefits">
					<h2>Culture</h2>
					<p>We are a growing software startup that believes every person on our team should be empowered to make a direct impact on the software we create. As continual learners, we are always seeking opportunities for technical growth and improvement. Founded on established trust, we value honesty and transparency with ourselves and each other. </p>
				</div>
			</div>

			<div class="row last-row">
				<div class="col-md-4">
					<div class="career-img">
						<img src="images/fun1.jpg">
					</div>
				</div>
				<div class="col-md-4">
					<div class="career-img">
						<img src="images/fun2.jpg">
					</div>
				</div>
				<div class="col-md-4">
					<div class="career-img">
						<img src="images/fun3.jpg">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="were-hiring-wrap">
		<h2>We're Hiring!</h2>
		<p>We are always looking for passionate and talented people to join our team. </p>
		<a href="https://www.ziprecruiter.com/c/Connexta" class="button">Apply for Jobs</a>
	</section>

	<!-- include footer-contact.html %} -->

	{% include footer.html %} 

</div><!-- /content-wrap -->

</body>

</html>