---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: About Us </title>
	{% include head.html %} 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/parallax.js"></script>
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

<section>
	<div class="container">
		<form action="https://liveformhq.com/form/934055ac-e239-40f6-8345-e448192d73ec" method="POST" accept-charset="utf-8">
		  <input type="hidden" name="_utf8" value="✓">

		  <!--
		    NOTE: This is an optional field, if your form has a field named '_redirect',
		    The user will be redirected to this page after the submission is saved
		  -->
		  <input type="hidden" value="https://mysite.com/redirect_thank_you" name="_redirect" />

		  <label for="name">Name</label>
		  <input type="text" id="name" name="name"> <br />

		  <label for="email">Email</label>
		  <input type="text" id="email" name="email"> <br />

		  <button type="submit">Submit</button>
		</form>
	</div>
</section>



	{% include footer.html %} 

</div><!-- /content-wrap -->

</body>

</html>