---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Home</title>
	{% include head.html %} 

</head>
<body>

<div class="content-wrap">
	
	{% include header.html %} 
				
	<div class="header-wrap">
		<div class="container">
			<div class="row">
				<div class="proc-flex-wrap">
					<div class="proc-flex">
						
						<div id="main-heading-rotator">
							<div>
								<h2>Advancing intelligence in the 21st century</h2>
								<p>We leverage open source software and open development to provide secure and distributed intelligence capabilities to our customers.</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
							<div>
								<h2>Search &amp; Discovery for the Intelligence Community</h2>
								<p>Our customers require access to vast amounts of data to perform their operations, we build on the Distributed Data Framework as the open source tool to make their mission easier.</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
							<div>
								<h2>Advancing the DCGS Family of Systems</h2>
								<p>Prime Developers of the DCGS Integration Backbone (DIB) to provide secure, flexible, enterprise intelligence capabilities.</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
							<div>
								<h2>Understanding the Importance of Coalition Partners</h2>
								<p>Today’s threats require international collaboration, we built the Collaborative Agile Gateway Environment for connecting partner nations through intelligence sharing.</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
							<div>
								<h2>Unlocking Vital Intelligence Information</h2>
								<p>With Reflex, we break down third party proprietary restrictions from intelligence sensors and make it so our users can gain access to all the data and make informed decisions.</p>
								<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							</div>
						</div>

					</div><!-- proc-flex -->
				</div><!-- prof-flex-wrap -->
			</div> <!-- row -->
		</div><!-- container -->
	</div> <!-- header-wrap -->

	<div class="mobile-header">
		<h2>Advancing intelligence <br/>in the 21st century</h2>
		<p>We leverage open source software and open development to provide secure and distributed intelligence capabilities to our customers.</p>
		<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
	</div>
		
	<section class="mission-wrap">
		<div class="container">
			<div class="row">
				<div class="mission">Connect. Create. Contribute.</div>
				<div class="mission-description"><div id="rotate"><div><em>Connect</em> people and technology.</div><div><em>Create</em> innovative, high quality solutions.</div><div><em>Contribute</em> back to those we serve.</div></div></div>
			</div>
		</div>
	</section>

	<section class="help-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>How We Help Our Clients</h2>
					<p>We provide industry-leading solutions to integrate IT systems using open, extensible technologies.</p>

					<picture>
						 <source srcset="images/mobile-how-we-help.jpg" media="(max-width: 600px)">
						 <img src ="images/how-we-help.png" alt="How We Help" title="How We Help">
					</picture>

					<div class="mobile-how-we-help">
						<div class="feature-item">
							<div class="icon-secure"></div>
							Secure Discovery &amp; Retrieval
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-interoperability"></div>
							Coalition Interoperability
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-visualization"></div>
							Web Based Visualization
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-federated"></div>
							Federated Identity <br/>&amp; Access Management
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-modular"></div>
							Modular, Open System Architecture
						</div>

						<div class="decorative-line"></div>

						<div class="feature-item">
							<div class="icon-enterprise"></div>
							Enterprise Service Bus <br/>&amp; Reliable Messaging
						</div>
					</div><!-- mobile-how-we-help -->
				</div><!-- col-md-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section>

	<section class="support-wrap">
		<div class="container"> 
			<div class="row">
				<div class="col-sm-12">
					<h2>Featured Communities We Support</h2>

					<div class="support-row">
						<div class="support-cell">
							<img class="support-logo" src="images/logo-dmo.png" alt="DMO" title="DMO">

							<div class="support-description">
								<h4>DMO DIB</h4>
								<p>DCGS Integration Backbone</p>
							</div>
						</div>

						<div class="support-cell">
							<img class="support-logo" src="images/logo-nga.png" alt="NGA" title="NGA">

							<div class="support-description">
								<h4>NGA</h4>
								<p>Geospatial Discovery</p>
							</div>
						</div>

						<div class="support-cell">
							<img class="support-logo" src="images/logo-afdcgs.png" alt="AF DCGS" title="AF DCGS">

							<div class="support-description">
								<h4>AF DCGS</h4>
								<p>Agile Release Trains</p>
							</div>
						</div>
					</div>

					<div class="support-row">
						<div class="support-cell">
							<img class="support-logo" src="images/logo-dcgsa.png" alt="DCGS-A" title="DCGS-A">

							<div class="support-description">
								<h4>DCGS-A</h4>
								<p>Agile Software Development</p>
							</div>
						</div>

						<div class="support-cell">
							<img class="support-logo" src="images/logo-ousdi.png" alt="OUSD-I" title="OUSD-I">

							<div class="support-description">
								<h4>OUSD-I</h4>
								<p>DI2E</p>
							</div>
						</div>
						
						<div class="support-cell">
							<img class="support-logo" src="images/logo-leidos-uk.png" alt="LEIDOS UK" title="LEIDOS UK">

							<div class="support-description">
								<h4>UK MOD</h4>
								<p>Imagery Exploitation Programme</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="how-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>How We Do It</h2>
					<p>We are the primary contributor to the open source Distributed Data Framework (DDF) project, and we provide custom development and technical support for DDF installations.</p>

					<picture>
						<source srcset="images/mobile-logo-grid.png" media="(max-width: 600px)">
						<img src="images/logo-grid.png" alt="Logos of open source software we support" title="logos of open source software we support">
					</picture>
				</div>
			</div>
		</div>
	</section>

	{% include footer.html %} 

</div>

</body>

</html>