---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Leadership</title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="std-title-heading">
		<div class="container">
			<h2>Leadership</h2>
		</div>
	</section>

	<section class="leadership-wrap medium white">
		<div class="container">
		<!-- 	<div class="row">
				<div class="col-md-12">
					<h2 class="no-top-margin">Leadership and Co-Founders</h2>

					<p>We founded Connexta to provide solutions that advance intelligence in the 21st century.  Connexta develops secure, distributed intelligence processing capabilities.  We break down third party proprietary restrictions from sensors enabling information sharing.  Connexta specializes in the secure integration of data, applications, and services with a proven track record of supporting DoD, IC and international partners.  Our Connexta team is passionate about building open source software solutions in partnership with our customers; we are committed to technical excellence and quality.  </p>
				</div>
			</div> -->

			<div class="row leader">
				<div class="col-md-4 leader-image">
					<img src="images/andy-goodson.jpg" title="Andy Goodson" alt="Andy Goodson">
				</div>

				<div class="col-md-8">
					<h2>Harold (Andy) Goodson</h2>
					<h3>Chief Executive Officer</h3>

					<p>Andy Goodson leads Connexta with a focus on advancing open source solutions that unlock and share complex information.  With an emphasis on the global Intelligence Community, Andy leverages a non-traditional model to defense contracting to establish interoperability for U.S. national security agencies and coalition partners.  Prior to co-founding Connexta, Andy was a principal at Lockheed Martin working with the Intelligence Community on sensor integration initiatives.  Andy also serves as a member on the board of directors for the Codice Foundation, a non-profit consortium comprised of government, academia, and industry collaborators, providing infrastructure, support, education, and export control advice to communities of government-focused engineers and organizations operating open source projects.   </p>
				</div>
			</div>

			<div class="row leader">
				<div class="col-md-4 leader-image">
					<img src="images/john-murphy.jpg" title="John Murphy" alt="John Murphy">
				</div>

				<div class="col-md-8">
					<h2>John Murphy</h2>
					<h3>Chief Operations Officer </h3>

					<p>John Murphy has devoted his career to building and deploying innovative capabilities to the warfighter.  As a co-founder and COO of Connexta, John is responsible for company people operations including recruitment, career development, training, security and export compliance.  Early in his career, he was a software developer building signals processing, satellite simulation, and imagery exploitation applications.  John then served in various development team leadership roles primarily in the C4ISR domain, for customers such as the U.S. Navy, U.S. Air Force, and other national agencies.   </p>
				</div>
			</div>

			<div class="row leader">
				<div class="col-md-4 leader-image">
					<img src="images/michael-menousek.jpg" title="Michael Menousek" alt="Michael Menousek">
				</div>

				<div class="col-md-8">
					<h2>Michael Menousek</h2>
					<h3>Chief Technology Officer </h3>

					<p>Michael Menousek leads Connexta’s technical team with a passion for building cutting-edge software and sharing with others in an open, collaborative way.  As a co-founder and CTO of Connexta, Michael brings a technical career focus built on designing extensible data integration frameworks and expertise in the use and licensing of Free and Open Source Software (OSS). Michael has been recognized for developing innovative solutions for enterprise integration and secure discovery and retrieval of ISR across a variety of large organizations including the National Geospatial-Intelligence Agency, U.S. Air Force, U.K. Ministry of Defence, Australian Defence Force, and US Coast Guard.   Throughout the bulk of his career, his primary mission domain has been ISR with a focus on GEOINT domain.  Michael also serves as the Project Management Committee (PMC) Chair for the Codice Foundation’s Distributed Data Framework (DDF) project.   </p>
				</div>
			</div>
		</div>
	</section>

{% include footer.html %} 	

</div><!-- /content-wrap -->

</body>

</html>
