---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: News</title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="news-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>News</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="news-articles">

		<div class="article">
			<h2 class="news-title">Meet with Connexta at the Automated ISR and Battle Management Symposium Alexandria, VA</h2>
			<span class="publish-date"><strong>Date:</strong> 12-13 February 2019</span>

			<p>Automated ISR and Battle Management Symposium Alexandria, VA.​ Andy Goodson, Connexta CEO will be attending the conference.  Andy and team look forward to connecting with you to discuss your requirements for secure, distributed intelligence processing capabilities using open source software and open development.  </p>
		</div>

		<div class="article">
			<h2 class="news-title">ddf-2.13.5 Release.</h2>
			<span class="publish-date"><strong>Date:</strong> 7 January 2019</span>

			<p><a href="https://codice.atlassian.net/wiki/spaces/DDF/pages/622886913/DDF+2.13.5+Release+Notes">Release notes</a> are available.  New features in this version include a new Security Manager and Intrigue UI improvements.</p>
			
		</div>

		{% include news/01-01-2019-pivotal-partnership.html %} 

	</section>

{% include footer.html %} 	

</div><!-- /content-wrap -->

</body>

</html>