---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: News</title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="std-title-heading">
		<div class="container">
			<h2>News</h2>
		</div>
	</section>

	<section class="news-articles medium white">

		{% include news/2019/02-13-2019-meet-at-isr.html %}

		{% include news/2019/01-07-2019-ddf-2-13-5-release.html %}

		{% include news/2019/01-01-2019-pivotal-partnership.html %} 

	</section>

{% include footer.html %} 	

</div><!-- /content-wrap -->

</body>

</html>