---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: News</title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="news-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>News</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>News</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac eros in arcu tincidunt malesuada sed rutrum enim. Etiam malesuada lectus quis mi facilisis tempus. Nunc pulvinar leo eu lorem finibus posuere. Integer pretium eget felis ut imperdiet. Nunc at enim felis. Donec tincidunt neque a tellus tincidunt vestibulum. Aenean molestie ullamcorper lorem nec eleifend.</p>

					<p>Phasellus tellus ex, convallis in fringilla nec, aliquet eu velit. Nam id purus pulvinar, rutrum mi sed, tempus dolor. Etiam tincidunt facilisis purus, a consectetur mauris. Mauris sed nibh erat. Mauris eget nunc enim. Maecenas id eleifend sem. Suspendisse eleifend at enim ac venenatis. Mauris pulvinar maximus mattis. Curabitur sagittis accumsan nunc vel faucibus. Sed ut massa diam.</p>

					<p>Vivamus eu magna vel nulla consequat sollicitudin. Nullam faucibus massa quis lorem sagittis eleifend. Integer consequat libero tempor ligula mollis ullamcorper nec non libero. Suspendisse sit amet mi vel nisi rutrum tincidunt. Sed venenatis massa nec eros dignissim elementum. Nulla sagittis nunc nec elit pharetra, pretium scelerisque sapien rhoncus. Phasellus laoreet a tellus luctus tempus. Maecenas imperdiet viverra convallis. Etiam id enim ornare, interdum eros vel, aliquam ligula. Fusce vehicula scelerisque ante, eget dignissim quam. Nunc felis urna, dignissim non neque quis, eleifend sollicitudin nisi. Duis posuere sollicitudin dui, id sagittis urna. Ut ex magna, fermentum sit amet dapibus finibus, tempus non dolor. Nulla ut ligula non eros dapibus interdum id sed metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

					<p>Nunc ultrices erat ut felis dictum varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis egestas aliquet pulvinar. Etiam non tempus lectus. Etiam pharetra odio vel ante congue, sit amet elementum tellus porta. Nulla vitae ante tincidunt, malesuada neque eu, gravida felis. Phasellus volutpat sodales metus a dignissim. Curabitur cursus iaculis pretium. Aliquam volutpat eget mauris a suscipit. Nunc semper mi ut nibh mattis egestas.</p>

					<p>Curabitur ut dolor eget magna ullamcorper luctus. Vivamus commodo porttitor iaculis. Nulla tempor volutpat urna, sed lacinia lorem aliquam non. Sed non justo pretium, finibus turpis vel, vulputate tellus. Integer maximus tortor quis magna posuere laoreet. Etiam eu tellus a erat interdum maximus. Praesent mattis risus metus, in egestas nisi laoreet in.</p>
					
				</div>
			</div>
		</div>
	</section>

{% include footer.html %} 	

</div><!-- /content-wrap -->

</body>

</html>