---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Social responsibility</title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="graphic-title-heading solutions-graphic-heading medium">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>Social Responsibility</h1>
						<h3 style="color:white">Contributing back to our community is in our Connexta DNA</h3>
					</div>
				</div>
			</div>
		</section>
	 

	<section class="leadership-wrap medium white">
			<div class="container">
				  <div class="row">

	
				<div class="row leader">
					<div class="col-md-4 leader-image">
						<img src="images/vanessa.jpg" title="Andy Goodson" alt="Andy Goodson">
					</div>
	
					<div class="col-md-8">
						<h2>Vanessa Davis</h2>
						<h3>Office Manager  </h3>
	
						<p> “Corporate social responsibility is a priority at Connexta. It is embedded in our culture. Our employees are making a difference in the communities we sit in, and we are helping to expand impact by organizing volunteer opportunities, matching employee charitable donations and promoting programs like Dollars for Doers. I am proud to be a part of Connexta!  
								<br/>
								Prior to joining Connexta in January 2019, I worked for a decade in the Julie Ann Wrigley Global Institute of Sustainability at Arizona State University. Working horizontally across an array of disciplines gave me an appreciation for systems thinking and the power of collaborating to advance solutions. Now I am applying that experience in my role as Office Manager at Connexta to grow and evolve our office practices and employee engagement across the United States.”  </p>
					</div>
				</div>
	
 	 
			</div>  
	 
			</div>
		</section>


 
	<section class="csr-wrap medium white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
							<div class="events" > <!-- flexbox -->
								<div class="upcoming-events-wrapper"> 
									<div class="upcoming-events">
										<div class="event">
											<div>
 
												<h3>Upcoming Events</h3>
												<p>The American Cancer Society's 36th Annual Climb to Conquer Cancer is the Largest one-day climb in the Southwest. Whether a cardio workout to the top of the mountain, a brisk walk or a leisurely stroll; ascending this Arizona peak Generates fun, entertainment and most Importantly, FUNDS TO FIGHT CANCER! </p>
												<p>&nbsp;</p>
												<h3>Select partner organizations</h3>
												<p>Organizations Connexta contributes to:</p>    
													<ul><li>ASU: WICS (Women in Computer Science) </li>
														<li>SoDa (Software Developers association) </li>
														<li>UofA: WICS</li>
													</ul>
													
											</div>
										</div><!-- /event -->
									</div><!-- /upcoming-events -->
								</div><!-- /upcoming-events-wrapper -->

								<div class="past-events-wrapper">
									<h3>Events:</h3>

									<div class="past-event img-csr">
										<a href="https://www.fmsc.org/"><img src="images/feed-my-starving-children.png" alt="Feed My Starving Children" title="Feed My Starving Children"></a>
									</div>

									<div class="past-event img-csr">
										<a href="https://phoenixrescuemission.org/"><img src="images/phoenix-rescue-mission.png" alt="Phoenix Rescue Mission" title="Phoenix Rescue Mission"></a>
									</div>

									<div class="past-event img-csr">
										<a href="https://www.firstfoodbank.org/"><img src="images/st-marys-food-bank.png" alt="St. Mary's Food Bank" title="St. Mary's Food Bank"></a>
									</div>
									
								</div><!-- /past-events-wrapper -->
							</div><!-- /events -->
				</div><!-- /col-md-12 -->
			</div><!-- /row -->


			<div class="giving-back">
				<div class="row">
					<div class="col-md-6">
						<h2 class="light">Connexta Gives Back</h2>

						<p class="light">Connexta employees are often looking to give back to their community, spurring the launch of two new programs in 2018 to assist employees in giving back and facilitating company-wide fundraising events.</p>

						<h3 class="light">Charitable Match <img src="images/legend-yellow.jpg"></h3>

						<p class="light">Connexta matches employee contributions to charitable organizations, up to $200 per year.</p>

						<h3 class="light">Dollars for Doers <img src="images/legend-green.jpg"></h3>

						<p class="light">Connexta matches volunteer hours with a charitable donation. Employees log volunteer hours and can earn up to $750 per year to benefit a charitable organization.	</p>		
					</div>

					<div class="col-md-6">
						<img src="images/graph.jpg" alt="gives back graph" title="Gives Back Graph">
					</div>
				</div><!-- /row -->
			</div> <!-- /giving-back -->
		</div><!-- /container -->
	</section>

{% include footer.html %} 	

</div><!-- /content-wrap -->

</body>

</html>