---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Social responsibility</title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="graphic-title-heading csr-graphic-heading tall">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Social Responsibility</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="csr-wrap medium white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- <h2 class="no-top-margin">Connexta Team in Action</h2> -->
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac eros in arcu tincidunt malesuada sed rutrum enim. Etiam malesuada lectus quis mi facilisis tempus. Nunc pulvinar leo eu lorem finibus posuere. Integer pretium eget felis ut imperdiet. Nunc at enim felis. Donec tincidunt neque a tellus tincidunt vestibulum. Aenean molestie ullamcorper lorem nec eleifend.</p>	 -->	
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
							<div class="events" > <!-- flexbox -->
								<div class="upcoming-events-wrapper"> 
									<div class="upcoming-events">
										<div class="event">
											<div>
												<h3>Upcoming Events</h3>
												<p>The American Cancer Society's 36th Annual Climb to Conquer Cancer is the Largest one-day climb in the Southwest. Whether a cardio workout to the top of the mountain, a brisk walk or a leisurely stroll; ascending this Arizona peak Generates fun, entertainment and most Importantly, FUNDS TO FIGHT CANCER! </p>
											</div>
										</div><!-- /event -->
									</div><!-- /upcoming-events -->
								</div><!-- /upcoming-events-wrapper -->

								<div class="past-events-wrapper">
									<h3>2018 Events:</h3>

									<div class="past-event">
										<a href="https://www.fmsc.org/"><img src="images/feed-my-starving-children.png" alt="Feed My Starving Children" title="Feed My Starving Children"></a>
									</div>

									<div class="past-event">
										<a href="https://phoenixrescuemission.org/"><img src="images/phoenix-rescue-mission.png" alt="Phoenix Rescue Mission" title="Phoenix Rescue Mission"></a>
									</div>

									<div class="past-event">
										<a href="https://www.firstfoodbank.org/"><img src="images/st-marys-food-bank.png" alt="St. Mary's Food Bank" title="St. Mary's Food Bank"></a>
									</div>
									
								</div><!-- /past-events-wrapper -->
							</div><!-- /events -->
				</div><!-- /col-md-12 -->
			</div><!-- /row -->


			<div class="giving-back">
				<div class="row">
					<div class="col-md-6">
						<h2 class="light">Connexta Gives Back</h2>

						<p class="light">Connexta employees are often looking to give back to their community, spurring the launch of two new programs in 2018 to assist employees in giving back and facilitating company-wide fundraising events.</p>

						<h3 class="light">Charitable Match <img src="images/legend-yellow.jpg"></h3>

						<p class="light">Connexta matches employee contributions to charitable organizations, up to $200 per year.</p>

						<h3 class="light">Dollars for Doers <img src="images/legend-green.jpg"></h3>

						<p class="light">Connexta matches volunteer hours with a charitable donation. Employees log volunteer hours and can earn up to $750 per year to benefit a charitable organization.	</p>		
					</div>

					<div class="col-md-6">
						<img src="images/graph.jpg" alt="gives back graph" title="Gives Back Graph">
					</div>
				</div><!-- /row -->
			</div> <!-- /giving-back -->
		</div><!-- /container -->
	</section>

{% include footer.html %} 	

</div><!-- /content-wrap -->

</body>

</html>