---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Social responsibility</title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="graphic-title-heading solutions-graphic-heading medium">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Social Responsibility</h1>
					<h3 style="color:white">Contributing back to our community is in our Connexta DNA</h3>
				</div>
			</div>
		</div>
	</section>
 
	<section class="csr-wrap medium white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
							<div class="events" > <!-- flexbox -->
								<div class="upcoming-events-wrapper"> 
									<div class="upcoming-events">
										<div class="event">
											<div>
 
												<h3>Upcoming Events</h3>

												<p>The American Cancer Society's 36th Annual Climb to Conquer Cancer is the Largest one-day climb in the Southwest. Whether a cardio workout to the top of the mountain, a brisk walk or a leisurely stroll; ascending this Arizona peak Generates fun, entertainment and most Importantly, FUNDS TO FIGHT CANCER! </p>
												
												<h3>Select partner organizations</h3>

												<p>Organizations Connexta contributes to:</p>  

												<ul>
													<li>ASU: WICS (Women in Computer Science) </li>
													<li>SoDa (Software Developers association) </li>
													<li>UofA: WICS</li>
												</ul>
													
											</div>
										</div><!-- /event -->
									</div><!-- /upcoming-events -->
								</div><!-- /upcoming-events-wrapper -->

								<div class="past-events-wrapper">
									<h3>Events:</h3>

									<div class="past-event img-csr">
										<a href="https://www.fmsc.org/"><img src="images/feed-my-starving-children.png" alt="Feed My Starving Children" title="Feed My Starving Children"></a>
									</div>

									<div class="past-event img-csr">
										<a href="https://phoenixrescuemission.org/"><img src="images/phoenix-rescue-mission.png" alt="Phoenix Rescue Mission" title="Phoenix Rescue Mission"></a>
									</div>

									<div class="past-event img-csr">
										<a href="https://www.firstfoodbank.org/"><img src="images/st-marys-food-bank.png" alt="St. Mary's Food Bank" title="St. Mary's Food Bank"></a>
									</div>
									
								</div><!-- /past-events-wrapper -->
							</div><!-- /events -->
				</div><!-- /col-md-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</section>

	<section class="medium blue">
		<div class="container">
			<div class="giving-back">
				<div class="row">
					<div class="col-md-6">
						<h2 class="light">Connexta Gives Back</h2>

						<p class="light">Connexta employees are often looking to give back to their community, spurring the launch of two new programs in 2018 to assist employees in giving back and facilitating company-wide fundraising events.</p>

						<h3 class="light">Charitable Match <img src="images/legend-yellow.jpg"></h3>

						<p class="light">Connexta matches employee contributions to charitable organizations, up to $200 per year.</p>

						<h3 class="light">Dollars for Doers <img src="images/legend-green.jpg"></h3>

						<p class="light">Connexta matches volunteer hours with a charitable donation. Employees log volunteer hours and can earn up to $750 per year to benefit a charitable organization.	</p>		
					</div>

					<div class="col-md-6">
						<img src="images/graph.jpg" alt="gives back graph" title="Gives Back Graph">
					</div>
				</div><!-- /row -->
			</div> <!-- /giving-back -->
		</div>
	</section>







	<section class="csr-timeline medium gray">
		<div class="container">

			<h2 class="section-title"> Connexta Promotes a Culture of Giving</h2>

			
			<div class="timeline-wrapper">
				<div class="timeline future">
				  
					<h2 class="timeline-item timeline-item-marker timeline-item-marker-flat"></h2>
				  
					<div class="timeline-item">
						<p class="timeline-date">February 2019</p>
						<h2 class="timeline-title">Climb to Conquer Cancer</h2>
						<p class="timeline-blurb">Phoenix employees raised $1,165 and Connexta matched that for a total of $2,330 benefiting the American Cancer Society</p>
					</div>

					<h2 class="timeline-item timeline-item-marker"></h2>
				  
					<div class="timeline-item">
						<p class="timeline-date">March 2019</p>
						<h2 class="timeline-title">March Madness Food Drive</h2>
						<p class="timeline-blurb">In-office March Madness bracket competition to raise monetary and non-perishable food donations benefiting St. Mary's Food Bank</p>
					</div>

					<h2 class="timeline-item timeline-item-marker"></h2>
				  
					<div class="timeline-item">
						<p class="timeline-date">May 2019</p>
						<h2 class="timeline-title">Hackathon</h2>
						<p class="timeline-blurb">Connexta employees volunteer at "May the 4th be with you" Goodyear AZ Hackathon organized by the non-profit Girls in Tech</p>
					</div>

					<h2 class="timeline-item timeline-item-marker"></h2>
				  
					<div class="timeline-item">
						<p class="timeline-date">Summer 2019</p>
						<h2 class="timeline-title">School Supplies Drive</h2>
						<p class="timeline-blurb">All Connexta locations participate to raise supplies benefiting children attending local public schools</p>
					</div>

					<h2 class="timeline-item timeline-item-marker"></h2>

				</div>

				<div class="timeline future2">
				  
					<div class="timeline-item">
						<p class="timeline-date">Fall 2019</p>
						<h2 class="timeline-title">Support Our Troops</h2>
						<p class="timeline-blurb">Connexta employees write letters, make cards, and put together care packages to send U.S. troops on deployment</p>
					</div>

					<h2 class="timeline-item timeline-item-marker"></h2>
				  
					<div class="timeline-item">
						<p class="timeline-date">Winter 2019</p>
						<h2 class="timeline-title">Holiday Food and Gift Drive</h2>
						<p class="timeline-blurb">Each year Connexta donate turkeys, other food items, and gifts to support local families in need during the holiday season</p>
					</div>

					<h2 class="timeline-item timeline-item-marker"></h2>
				  
					<div class="timeline-item">
						<p class="timeline-date">2020</p>
						<h2 class="timeline-title">Connexta Gives Back</h2>
						<p class="timeline-blurb">Stay tuned to learn about Connexta community give-back activities in 2020</p>
					</div>
				  
					<h2 class="timeline-item timeline-item-marker"></h2>
				  
				</div><!-- /timeline -->
			</div><!-- /timeline-wrapper -->
		</div> <!-- /container -->
	</section> 









	<section class="quote-section short">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 vanessa-csr-quote">
					<h2 class="text-center">CSR Spotlight</h2>
					<div class="blockquote">
						<blockquote>  
						   <p>Corporate <strong>social responsibility is a priority at Connexta</strong>. It is embedded in our culture. Our employees are making a difference in the communities we sit in, and we are helping to expand impact by organizing volunteer opportunities, matching employee charitable donations and promoting programs like Dollars for Doers. I am proud to be a part of Connexta! </p>
						   <cite><span class="quote-image"><img src="images/vanessa.jpg" title="Vanessa Davis" alt="Vanessa Davis"></span>Vanessa Davis - Office Manager</cite>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</section>


{% include footer.html %} 	

</div><!-- /content-wrap -->

</body>

</html>