---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Solutions </title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="solutions-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Solutions</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="solutions">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Products</h2>
				</div>

				<div class="col-md-12">
					<h3>Distributed Data Framework (DDF)</h3>
					<p>DDF is an open source, extensible data integration and content management framework.  DDF provides a content management system as well as an internal metadata catalog for publishing and indexing metadata, allowing for complex queries including geospatial, temporal, contextual, faceted, and boolean logic queries. The DDF architecture is built from the ground up around security and flexibility.  DDF deployments in the DoD, US Intelligence Community (IC), and International Intelligence communities promotes collaborative use of discovered data by analysts to produce enhanced ISR products.  DDF has been deployed for over 5 years in operational environments.  The extensive use of DDF results in a stable baseline with continual improvements contributed from multiple organizations lowering the overall cost to implement this solution.</p>
				</div>

				<div class="col-md-12">
					<h3>Alliance</h3>
					<p>Alliance, an open source project which build on DDF, extends DDF with ISR capabilities and international support including Coalition Shared Dataserver (CSD) interoperability.</p>
					<p>An active Connexta Enterprise Agreement (CXEA) subscription provides everything needed to Operate DDF and Alliance based systems reliably and securely in mission critical environments.  More than a software package, a CXEA subscription unlocks direct access to engineering expertise, security updates, and support tools unavailable elsewhere</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h2>Connexta Enterprise Agreement</h2>
					<p> An active Connexta Enterprise Agreement (CXEA) subscription provides everything needed to operate DDF and Alliance based systems reliably and securely in mission critical environments.  More than a software package, a CXEA subscription unlocks direct access to engineering expertise, security updates, and support tools unavailable elsewhere</p>
				</div>
			</div>

			<div class="feature-wrap">
					<div class="feature">
						<i class="fa fa-code"></i>
						<h3>Integration Support</h3>
						<p>Includes a team(s) dedicated to the integration of DDF and Alliance in your organization for strategic and enterprise nodes.</p>
					</div>

					<div class="feature">
						<i class="fa fa-power-off"></i>
						<h3>On-Site Support</h3>
						<p>Includes engineers dispatched to your site to assist with installation, configuration, and administration.</p>
					</div>

					<div class="feature">
						<i class="fa fa-users"></i>
						<h3>Technical Support</h3>
						<p>Includes 24/7 availability, unlimited incidents, and phone, email, and online collaboration.</p>
					</div>

					<div class="feature">
						<i class="fa fa-rss"></i>
						<h3> Continuous Delivery</h3>
						<p>Always get critical updates including patches, bug fixes, and security updates.</p>
					</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<div style="width: 100%; height: 500px; background: #f1f1f1;">Table placeholder</div>
				</div>
			</div>
		</div>

	</section>






<!-- 	 include solutions-contact-form.html %}  -->

	

	

	{% include footer.html %} 

</div><!-- /content-wrap -->

</body>

</html>