---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Solutions </title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="graphic-title-heading solutions-graphic-heading medium">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Solutions</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="solutions-wrap medium white">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Products</h2>
				</div>

				<div class="col-md-12 products-wrap">
					<div class="products">
						<div class="product">
							<div class="product-logo">
								<img src="images/logo-ddf2.png" alt="Distributed Data Framework (DDF)" title="Distributed Data Framework (DDF)" >
							</div>

							<div class="product-description">
								<h3>Distributed Data Framework (DDF)</h3>
								<p class="no-bottom-margin">DDF is an open source, extensible data integration and content management framework.  DDF provides a content management system and internal metadata catalog for publishing and indexing metadata.  This allows for complex queries including geospatial, temporal, contextual, faceted, and Boolean logic.  The DDF architecture is built from the ground up around security and flexibility.  DDF deployments in the Department of Defense (DoD), U.S. Intelligence Community (IC), and International Intelligence communities promote collaborative use of discovered data by analysts to produce enhanced Intelligence, Surveillance, and Reconnaissance (ISR) products.</p>
							</div>
						</div>

						<div class="product">
							<div class="product-logo">
								<img src="images/logo-alliance2.png" alt="Alliance" title="Alliance" >
							</div>

							<div class="product-description">
								<h3>Alliance</h3>
								<p class="no-bottom-margin">Alliance builds on the DDF solution.  Alliance extends the ISR capabilities of DDF and integrates out-of-the-box with many known ISR data formats and service interfaces.  Extensions include international support including interoperability with the Coalition Shared Dataserver (CSD).  Alliance is an open source project.</p>
							</div>
						</div>
					</div>	
				</div>
			</div>

			<div class="row" style="margin-bottom: 25px;">
				<div class="col-md-12">
					<div class="gray" style="padding: 20px;">
						<h2>Connexta Enterprise Agreement</h2>
						<p>A Connexta Enterprise Agreement subscription provides the services needed to 
						operate DDF and Alliance-based systems reliably and securely in your mission critical environment.  More than a software package, an Enterprise Agreement unlocks direct access to engineering expertise, security updates, and support tools unavailable elsewhere.  The four subscription tiers are designed to address individual enterprise requirements.  The tiers differ with the number of sensors and users and integration requirements.  
						</p>
				

						<div class="feature-wrap">
							<div class="feature">
								<i class="fa fa-code"></i>
								<h3>Integration Support</h3>
								<p>Includes a team(s) dedicated to the integration of DDF and Alliance in your organization for strategic and enterprise nodes.</p>
							</div>

							<div class="feature">
								<i class="fa fa-power-off"></i>
								<h3>On-Site Support</h3>
								<p>Includes engineers dispatched to your site to assist with installation, configuration, and administration.</p>
							</div>

							<div class="feature">
								<i class="fa fa-users"></i>
								<h3>Technical Support</h3>
								<p>Includes 24/7 availability, unlimited incidents, and phone, email, and online collaboration.</p>
							</div>

							<div class="feature">
								<i class="fa fa-rss"></i>
								<h3> Continuous Delivery</h3>
								<p>Always get critical updates including patches, bug fixes, and security updates.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="gray" style="padding: 20px;">
						<H2>Connexta Enterprise Agreement Subscription Tiers</H2>

						<p>The advantage of DDF and Alliance have been demonstrated over 5 years of deployment in operational environments.  The extensive use of DDF has resulted in a stable baseline with continual improvements contributed from multiple organizations thereby lowering the overall cost</p>

						<div class="tier-wrap">
							<div class="tier">
								<h3>Tactical Node</h3>
								<p>Focuses on sources that have the potential to immediately influence your tactical decisions.  The Enterprise Agreement at this tier is tailored to a smaller number of sources and users.</p>
							</div>

							<div class="tier">
								<h3>Operational Node </h3>
								<p>Enables decision-makers to better prioritize daily work schedules, build teams, and collaborate with outside organizations. Operational decisions include the policies to respond to tactical threats.  The Enterprise Agreement at this tier is tailored to address the diverse sources and users required for planning.</p>
							</div>

							<div class="tier">
								<h3>Strategic Node</h3>
								<p>Integrates intelligence can be critically important to building support for the resources you will need to construct a strong defense.  The strategic node requires stronger coordination and collaboration with other organizations.  The Enterprise Agreement at this tier is tailored to a greater number of sources, users, and collaboration to support the executive view. </p>
							</div>

							<div class="tier">
								<h3>Enterprise Node</h3>
								<p class="no-bottom-margin">Addresses the need to discover and analyze the broadest number of sources and coordinate with the largest number of users.  On-site support is the greatest for the enterprise node due to the diversity of sources and uses.  </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>






<!-- 	 include solutions-contact-form.html %}  -->

	

	

	{% include footer.html %} 

</div><!-- /content-wrap -->

</body>

</html>