---

---

<!DOCTYPE html>
<html>
<head>
	<title>Connexta: Solutions </title>
	{% include head.html %} 
</head>

<body>

<div class="content-wrap">
	
	{% include header.html %} 

	<section class="solutions-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Solutions</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="products-wrap">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
						<p>We're constantly evolving our solutions to the diverse mission requirements of our customers. Modular technologies allow us to tailor our products to meet unique <br/>integration requirements.</p>

						<!-- <div class="indemnification-row">
							<div class="indemnification-cell1"></div>
							<div class="indemnification-cell2">All paid plans include indemnification.</div>
							<div class="indemnification-cell3"></div>
						</div> -->

						<table class="products-table" summary="This table describes Connexta's offerings for installation and support of Distributed Data Framework (DDF).">
							<tr class="product-table-head">
								<th class="product-table-head-cell product-table-head-cell1" scope="col">
									
								</th>

								<th id="basic" class="product-table-head-cell product-table-head-cell2" scope="col">
									Community Edition
									<a href="http://ddf.codice.org">Free Download</a>
								</th>

								<th id="silver" class="product-table-head-cell product-table-head-cell3" scope="col">
									Silver Edition
									<a href="#contact-anchor">Request Info</a>
								</th>

								<th id="gold" class="product-table-head-cell product-table-head-cell4" scope="col">
									Gold Edition
									<a href="#contact-anchor">Request Info</a>
								</th>

								<th id="platinum" class="product-table-head-cell product-table-head-cell5" scope="col">
									Platinum Edition
									<a href="#contact-anchor">Request Info</a>
								</th>
							</tr>

							<!-- ================================================================================================
								DDF
							================================================================================================= -->

							<tr class="products-title-row">
								<th class="products-title-cell products-title-name" scope="row">Codice DDF</th>
								<td class="products-title-cell" rowspan="4"></td>
							</tr>

							<tr class="products-row">
								<th id="geospatial-user-interface" class="products-cell product-name" scope="row">Secure, Federated Content Discovery and Retrieval</th>

								<td class="products-cell product-level" headers="basic geo-spatial-user-interface">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="silver geo-spatial-user-interface">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold geo-spatial-user-interface">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum geo-spatial-user-interface">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<tr class="products-row">
								<th id="content-discovery-and-retrieval" class="products-cell product-name" scope="row">2D & 3D Geospatial User Interface</th>

								<td class="products-cell product-level" headers="basic content-discovery-and-retrieval">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="silver content-discovery-and-retrieval">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold content-discovery-and-retrieval">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum content-discovery-and-retrieval">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<tr class="products-row">
								<th id="department-of-defense-validated-end-to-end-security" class="products-cell product-name" scope="row">DoD-validated End-to-End Security</th>

								<td class="products-cell product-level" headers="basic department-of-defense-validated-end-to-end-security">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="silver department-of-defense-validated-end-to-end-security">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold department-of-defense-validated-end-to-end-security">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum department-of-defense-validated-end-to-end-security">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<!-- ================================================================================================
								ALLIANCE
							================================================================================================= -->

							<tr class="products-title-row">
								<th class="products-title-cell products-title-name" scope="row">Codice Alliance</th>
								<td class="products-title-cell" rowspan="4"></td>
							</tr>

							<tr class="products-row">
								<th id="geospatial-image-cataloging" class="products-cell product-name" scope="row">ISR Imagery Support<span>NITF &amp; NSIF, including chipping<span></th>

								<td class="products-cell product-level" headers="basic geospatial-image-cataloging">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="silver geospatial-image-cataloging">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold geospatial-image-cataloging">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum geospatial-image-cataloging">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<tr class="products-row">
								<th id="unmanned-aircraft-system-full-motion-video-streaming" class="products-cell product-name" scope="row">UAS Full Motion Video (FMV) <span>Streams &amp; Clips with KLV, MISB-compliant</span></th>

								<td class="products-cell product-level" headers="basic unmanned-aircraft-system-full-motion-video-streaming">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="silver unmanned-aircraft-system-full-motion-video-streaming">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold unmanned-aircraft-system-full-motion-video-streaming">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum unmanned-aircraft-system-full-motion-video-streaming">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<tr class="products-row">
								<th id="coalition-shared-data-storage" class="products-cell product-name" scope="row">NATO STANAG 4559 Interoperability<span>Bidirectional integration with NSILI (all revisions); Coalition Shared Dataserver (CSD)</th>

								<td class="products-cell product-level" headers="basic coalition-shared-data-storage">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="silver coalition-shared-data-storage">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold coalition-shared-data-storage">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum coalition-shared-data-storage">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<!-- ================================================================================================
								SUPPORT
							================================================================================================= -->

							<tr class="products-title-row">
								<th class="products-title-cell products-title-name" scope="row">Connexta Enterprise Support</th>
								<td class="products-title-cell" rowspan="4"></td>
							</tr>



							<tr class="products-row">
								<th id="community-tools" class="products-cell product-name" scope="row">Community Tools<span>Jira Issue Tracking, Google Groups Discussions</span></th>

								<td class="products-cell product-level" headers="basic community-tools">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="silver community-tools">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold community-tools">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum community-tools">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<tr class="products-row">
								<th id="community-tools" class="products-cell product-name" scope="row">Indemnification</th>

								<td class="products-cell product-level" headers="basic community-tools">
									
								</td>

								<td class="products-cell product-level" headers="silver community-tools">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="gold community-tools">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>

								<td class="products-cell product-level" headers="platinum community-tools">
									<img src="images/check.png" alt="Checkmark" title="Checkmark">
								</td>
							</tr>

							<tr class="products-row">
								<th id="phone-support" class="products-cell product-name" scope="row">Phone Support<span>(Response / Duration)</span></th>

								<td class="products-cell product-level" headers="basic phone-support">
									
								</td>

								<td class="products-cell product-level" headers="silver phone-support">
									2 days / 1 week
								</td>

								<td class="products-cell product-level" headers="gold phone-support">
									1 day / 2 weeks
								</td>

								<td class="products-cell product-level" headers="platinum phone-support">
									4 hours / 1 month
								</td>
							</tr>

							

							<tr class="products-row">
								<th id="online-collaboration" class="products-cell product-name" scope="row">Online Collaboration<span>Skype, Slack, Hangouts</span></th>

								<td class="products-cell product-level" headers="basic online-collaboration">
									
								</td>

								<td class="products-cell product-level" headers="silver online-collaboration">
									Day of install
								</td>

								<td class="products-cell product-level" headers="gold online-collaboration">
									2 weeks
								</td>

								<td class="products-cell product-level" headers="platinum online-collaboration">
									4 weeks
								</td>
							</tr>

							

							<tr class="products-row">
								<th id="training" class="products-cell product-name" scope="row">Training<span>Continental U.S. only. Contact for international options.</span></th>

								<td class="products-cell product-level" headers="basic training">
									
								</td>

								<td class="products-cell product-level" headers="silver training">
									Virtual on-line
								</td>

								<td class="products-cell product-level" headers="gold training">
									1 day
								</td>

								<td class="products-cell product-level" headers="platinum training">
									5 days
								</td>
							</tr>

							<tr class="products-row">
								<th id="email-response" class="products-cell product-name" scope="row">Email Response Guarantee<span></span></th>

								<td class="products-cell product-level" headers="basic email-response">
									
								</td>

								<td class="products-cell product-level" headers="silver email-response">
									
								</td>

								<td class="products-cell product-level" headers="gold email-response">
									Within 24 hours
								</td>

								<td class="products-cell product-level" headers="platinum email-response">
									Within 8 hours
								</td>
							</tr>

							<tr class="products-row">
								<th id="on-site-integration" class="products-cell product-name" scope="row">On Site Integration &amp; Delivery<span>Continental U.S. only. Contact for international options.</span></th>

								<td class="products-cell product-level" headers="basic on-site-integration">
									
								</td>

								<td class="products-cell product-level" headers="silver on-site-integration">
									
								</td>

								<td class="products-cell product-level" headers="gold on-site-integration">
									3 business days
								</td>

								<td class="products-cell product-level" headers="platinum on-site-integration">
									5 business days
								</td>
							</tr>

							<tr class="products-row">
								<th id="development" class="products-cell product-name" scope="row">Custom Development <span>A dedicated Connexta developer to support your project(s). Subject to mutually agreed statement of work.</span></th>

								<td class="products-cell product-level" headers="basic development">
								</td>

								<td class="products-cell product-level" headers="silver development">
								</td>

								<td class="products-cell product-level" headers="gold development">
								</td>

								<td class="products-cell product-level" headers="platinum development">
									3 months
								</td>
							</tr>

							<tr class="products-row">
								<th id="updates" class="products-cell product-name" scope="row">Quarterly Updates & Releases <span>Access to Connexta-tested Long Term Support releases</span></th>

								<td class="products-cell product-level" headers="basic updates">
								</td>

								<td class="products-cell product-level" headers="silver updates">
								</td>

								<td class="products-cell product-level" headers="gold updates">
								</td>

								<td class="products-cell product-level" headers="platinum updates">
									1 year
								</td>
							</tr>


						</table>
				</div>
			</div>
		</div>
	</section>

	<a name="contact-anchor" id="contact-anchor"></a>

	<section class="footer-contact-wrap">	
		<div class="container">	
		


				
					<h2>Request Information</h2>
					<div class="footer-contact-form">
						<script type="text/javascript" src="https://form.jotform.us/jsform/71286058474160"></script>
					</div>
				
	
		</div>
	</section>

	{% include footer.html %} 

</div><!-- /content-wrap -->

</body>

</html>