
		<div class="article">
			<h2 class="news-title">Meet with Connexta at the Automated ISR and Battle Management Symposium Alexandria, VA</h2>
			<span class="publish-date"><strong>Date:</strong> 12-13 February 2019</span>

			<p>Automated ISR and Battle Management Symposium Alexandria, VA.​ Andy Goodson, Connexta CEO will be attending the conference.  Andy and team look forward to connecting with you to discuss your requirements for secure, distributed intelligence processing capabilities using open source software and open development.  </p>
		</div>