
		<div class="article">
			<h2 class="news-title">Distributed Data Framework (DDF) Release 2.13.6 now available.</h2>
			<span class="publish-date"><strong>Date:</strong> 20 February 2019</span>

			<p>Connexta is pleased to announce, the latest version of DDF is available for download on Github.  DDF is an open source, extensible data integration and content management framework.  Release date: 20 February 2019, Release Versoin: 2.13.6.</p>

			<p>The 2.13.6 release includes Catalog Search improvements and security patches including security improvements in Solr communication. <a href="https://codice.atlassian.net/wiki/spaces/DDF/pages/649461761/DDF+2.13.6+Release+Notes">DDF 2.13.6 release notes</a> provide detail.  Download from <a href="https://github.com/codice/ddf/releases">DDF 2.13.6 release</a>.  </p>
		</div>