{% if include.index == 1 %}
<style>
.carousel-caption {
  top: 100px;
  text-align:left;
}
.carousel-inner,.carousel {
  height:100vh;
  width:100%;
}

.carousel-caption h1 {
  font-size
}

.carousel-caption .col-lg-6 {
    float:none;
    display:inline-block !important;
    margin-right:-4px;
    height:100%;
}

.carousel-caption .col-lg-6 h1 {
    vertical-align:middle;
}

</style>


  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for i in (0..include.length) %}
        {% if i != include.length %}
       	  <li data-target="#carousel" data-slide-to="{{i}}" {% if i == 0 %}class="active"{%endif%}></li>
	{% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
{% endif %}


      <div class="item {% if include.index == 1 %}active{%endif%}" style="
        background: url({{include.p.image}}) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:100%;
        "/>
        <div class="carousel-caption">
          <div class="row" style="height:100%">
            <div class="col-lg-6">
              <h1>{{include.p.title}}</h1>
            </div>
            <div class="col-lg-6">
              <p>{{include.p.summary}}</p>
            </div>
          </div>
        </div>
      </div>

{% if include.index == include.length %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
{% endif %}






