<!-- <section class="contact-wrap">	
	<div class="container">	
		<div class="contact-table">
			<div class="contact-map">
				<h3>Contact</h3>
				<p>1860 N. 95th Ln, Suite 325, Phoenix, AZ 85037<br/> +1 (602) 714-1459</p>
				<div class="google-map map-responsive">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.2962107538415!2d-112.2697001485581!3d33.46763805566159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b3fbe99d2afbd%3A0x9c0f1f0ae5620321!2sConnexta%2C+LLC!5e0!3m2!1sen!2sus!4v1485378814995" width="600" height="403" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="contact-form">

					<script type="text/javascript" src="https://form.jotform.com/jsform/70296347718162"></script>
			</div>
		</div>
	</div>
</section> -->

<section class="footer-contact-wrap">	
	<div class="container">	
		<div class="row">
			<div class="col-md-6">
				<div class="footer-contact-info">
					<h2>Request Information</h2>
					<p>1860 N. 95th Ln, Suite 325, Phoenix, AZ 85037<br/> +1 (602) 714-1459</p>
					<div class="map-responsive">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.2962107538415!2d-112.2697001485581!3d33.46763805566159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b3fbe99d2afbd%3A0x9c0f1f0ae5620321!2sConnexta%2C+LLC!5e0!3m2!1sen!2sus!4v1485378814995" width="600" height="403" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="footer-contact-form">
					<script type="text/javascript" src="https://form.jotform.us/jsform/71286058474160"></script>
				</div>
			</div>
		</div>
	</div>
</section>




