


<div class="footer-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav class="footer-nav"> 
					<div class="footer-nav-item"><a href="#">&copy; Connexta, LLC. All rights reserved.</a></div>
					<!-- <div class="footer-nav-item"><a href="#">Item</a></div>
					<div class="footer-nav-item"><a href="#">Item</a></div>
					<div class="footer-nav-item"><a href="#">Item</a></div>
					<div class="footer-nav-item"><a href="#">Item</a></div> -->
				</nav>

				<div class="social-media">
					<a href="http://www.linkedin.com/company/connexta-llc" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					<a href="https://github.com/connexta/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
					<a href="http://www.facebook.com/connexta" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>