		
		<div class="header-wrap">
			<div class="container">
				<div class="row">
					<div class="proc-flex-wrap">
						<div class="proc-flex">
							<!-- <h2>Distributed Data Framework</h2>
							<p>We provide federated secure searching across the Intelligence Community Enterprise.</p>
							<a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
							
							<div id="main-heading-rotator">
								<div>
									<h2>Advancing intelligence in the 21st century</h2>
									<p>We leverage open source software and open development to provide secure and distributed intelligence capabilities to our customers.</p>
									<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
								</div>
								<div>
									<h2>Search &amp; Discovery for the Intelligence Community</h2>
									<p>Our customers require access to vast amounts of data to perform their operations, we build on the Distributed Data Framework as the open source tool to make their mission easier.</p>
									<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
								</div>
								<div>
									<h2>Understanding the Importance of Coalition Partners</h2>
									<p>Today’s threats require international collaboration, we built the Collaborative Agile Gateway Environment for connecting partner nations through intelligence sharing.</p>
									<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
								</div>
								<div>
									<h2>Unlocking Vital Intelligence Information</h2>
									<p>With Reflex, we break down third party proprietary restrictions from intelligence sensors and make it so our users can gain access to all the data and make informed decisions.</p>
									<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
								</div>
							</div>

		<!-- 					<div class="flexslider" style="width: 500px; height: 200px;">
								<ul class="slides" style="width: 500px; height: 200px;">
									<li>
										<h2>Advancing intelligence in the 21st century</h2>
										<p>We leverage open source software and open development to provide secure and distributed intelligence capabilities to our customers.</p>
										<a class="header-cta" href="#" title="Learn More About Codice">Learn more</a>
									</li>
									<li>
										<h2>Search &amp; Discovery for the Intelligence Community</h2>
										<p>Our customers require access to vast amounts of data to perform their operations, we build on the Distributed Data Framework as the open source tool to make their mission easier.</p>
										<a class="header-cta" href="#" title="Learn More About Codice">Learn more</a>
									</li>
									<li>
										<h2>Understanding the Importance of the Coalition</h2>
										<p>Today’s threats require international collaboration, we built the Collaborative Agile Gateway Environment for connecting partner nations through intelligence sharing.</p>
										<a class="header-cta" href="#" title="Learn More About Codice">Learn more</a>
									</li>
									<li>
										<h2>Unlocking Vital Itelligence Information</h2>
										<p>With REFLEX, we break down third party proprietary restrictions from intelligence sensors and make it so our users can gain access to all the data and make informed decisions.</p>
										<a class="header-cta" href="#" title="Learn More About Codice">Learn more</a>
									</li>
								</ul>
							</div> -->

						</div>
					</div>
				</div> <!-- .container -->
			</div>
		</div> <!-- .header-wrap -->

		<div class="mobile-header">
			<h2>Advancing intelligence <br/>in the 21st century</h2>
			<p>We leverage open source software and open development to provide secure and distributed intelligence capabilities to our customers.</p>
			
		</div>


<!-- 

		<div class="header-wrap">
			<div class="container">
				<div class="header-main row">

	
					
				</div> -->

				<!-- <img class="world-map" src="images/mobile-world-map.jpg" alt="world map" title="world map"> -->
<!-- 
				<div class="proc-flex-wrap">
					<div class="proc-flex">
						<h2>Distributed Data Framework</h2>
						<p>We provide federated secure searching across the Intelligence Community Enterprise.</p>
						<a class="header-cta" href="#" title="Learn More About Codice">Learn more</a>
					</div>
				</div> -->
	<!-- 		</div>  --><!-- .container -->
<!-- 		</div>  --><!-- .header-wrap -->

<!-- 		<div class="mobile-header">

			<h2>Distributed Data Framework</h2>
			<p>We provide federated secure searching across the Intelligence Community Enterprise.</p>
			<a class="header-cta" href="#" title="Learn More About Codice">Learn more</a>
		</div> -->

