	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<!-- <link rel="stylesheet" type="text/css" href="flexslider/flexslider.css"> -->	
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700|Ubuntu:300,400,500,700" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<script src="https://use.fontawesome.com/f1a454508d.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js" ></script>
	<!-- <script type="text/javascript" src="flexslider/jquery.flexslider.js" ></script> -->
	<script type="text/javascript" src="js/custom.js" ></script>