	
	<!-- Start of Woopra Code -->
	<script>
		(function(){
		        var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
		})("woopra");

		woopra.config({
		    domain: 'connexta.com'
		});
		woopra.track();
	</script>
	<!-- End of Woopra Code -->

	<!-- Google ReCaptcha -->
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script>
		function enableSubmit() {
		  var btn = document.getElementById('form-submit');
		  btn.disabled = false;
		  btn.title = '';
		}
	</script>

	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<!-- <link rel="stylesheet" type="text/css" href="flexslider/flexslider.css"> -->	
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700|Ubuntu:300,400,500,700" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">
	<script src="https://use.fontawesome.com/f1a454508d.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js" ></script>
	<!-- <script type="text/javascript" src="flexslider/jquery.flexslider.js" ></script> -->
	<script type="text/javascript" src="js/custom.js" ></script>
	<meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />