---

---

<div class="container">

	<div class="section-title">
		<h1 class="title">{{ page.title }}</h1>
		<p class="description">{{ page.description }}</p>
	</div>

	<div class="one-third">
		<h4 class="sub-title">Opportunity Details</h4>
		<ul class="project-details">
<li><i class="fa fa-globe"></i><strong>Location:</strong> {{ page.location }}</li>
<li><i class="fa fa-briefcase"></i><strong>Description:</strong> {{ page.details }}</li>
		</ul>
	</div>

	<div class="one-third middle">
		<h4 class="sub-title">Required Skills</h4>
		<ul class="list">
			{% for skill in page.required %}
			<li>{{ skill }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="one-third last">
		<h4 class="sub-title">Desired Skills</h4>
		<ul class="list">
			{% for skill in page.desired %}
			<li>{{ skill }}</li>
			{% endfor %}
		</ul>
	</div>
</div>